sqlite3:
  adapter: sqlite3
  database: alarm_it.sqlite3

# mysql:
#   adapter: mysql
#   hostname: localhost
#   username: root
#   password:
#   database: alarm_it
# 
# postgresql:
#   adapter: postgresql
#   hostname: localhost
#   username: postgres
#   password:
#   database: alarm_it
